body{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagem-home img{
    width: 100%;
}

